body{
    background-color: azure;
    color: aliceblue;
}

.container{
    background-color: gray;
    margin: auto;
    max-width: 900px;
    min-height: 200px;
    padding: 30px;
    display: block;
}

.block {
    margin-bottom: 2%;
    background-color: darkgrey;
    padding: 20px;
    min-height: 90%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: rgb(99, 99, 99);
}
